<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Provider.Properties.Settings.QLKHO_ConnectionString"
            connectionString="Data Source=DESKTOP-D5CHB5F;Initial Catalog=QLKHO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Provider.Properties.Settings.QLKHOConnectionString"
            connectionString="Data Source=DESKTOP-D5CHB5F\SQLEXPRESS;Initial Catalog=QLKHO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Provider.Properties.Settings.QLKHOConnectionString1"
            connectionString="Data Source=DESKTOP-L80PNMH\SQLEXPRESS;Initial Catalog=QLKHO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>